# Core
fastapi
uvicorn[standard]

# Database
sqlalchemy
sqlmodel
alembic
psycopg[binary]

# Security & Auth
python-jose
PyJWT
passlib[bcrypt]
python-multipart
email-validator

# Settings & Config
pydantic
pydantic-settings
python-dotenv

# Email
emails
jinja2

# Utils
requests

# Monitoring
sentry-sdk


